.transactionHistory{
    width: 100%;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f8ffff;
    -webkit-box-shadow: 1px 1px 11px -3px rgba(43, 38, 38, 1);
    -moz-box-shadow: 1px 1px 11px -3px rgba(43, 38, 38, 1);
    box-shadow: 1px 1px 11px -3px rgba(43, 38, 38, 1);
    border-radius: 8px;
}

.tableHeadRow{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.tableHeadText{
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.tableRow{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.tableRowType,.tableRowAmount,.tableRowCurrency{
    background-color: #d5f4ef;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
 }


 @media screen and (min-width: 768px) {
    .transactionHistory{
        padding: 40px 40px;

    }
    .tableHeadRow{
        font-size: 32px;
    }
 }

 @media screen and (min-width: 768px) {
    .transactionHistory {
        padding: 60px 60px;
    }

    .tableRow {
        font-size: 32px;
     }
 }